---
import { getTableData } from "@jcha0713/astro-notion/api";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostPreview from "@components/PostPreview.astro";
import { Icon } from "astro-icon";
const data = await getTableData();
const sortedPosts = data.sort(
  (a, b) =>
    new Date(b.date.created).valueOf() - new Date(a.date.created).valueOf()
);
---

<BaseLayout title="Welcome to  my site!">
  <main class="w-[80vw] flex h-full justify-center">
    <div
      class="w-full lg:w-2/4 xl:w-3/4 flex flex-col xl:flex-row items-center justify-center gap-10 xl:justify-around"
    >
      <span
        class="h-80 w-80 rounded-full shadow-md shadow-indigo-400 border-purple-400 border-4 overflow-hidden"
      >
        <img src="/domitrius.png" />
      </span>
      <div
        class="flex flex-col items-center xl:items-baseline text-center xl:text-start gap-4"
      >
        <h1 class="font-bowlby text-5xl underline underline-offset-8">
          Domitrius Clark
        </h1>
        <p class="font-gothic text-2xl">
          <span class="text-teal-400">DX Engineer.</span>
          <span class="text-red-600">Content Creator.</span>
          <span class="text-indigo-500">Community Builder.</span> Esports nerd.
        </p>
        <div class="flex gap-5">
          <a href="https://youtube.com/@domitriusclark"
            ><Icon name="logos:youtube-icon" />
          </a>
          <a href="https://twitch.tv/domitriusclark"
            ><Icon name="logos:twitch" />
          </a>
          <a href="https://github.com/domitriusclark"
            ><Icon name="simple-icons:github" />
          </a>
          <a href="https://tiktok.com/_domitriusclark"
            ><Icon name="logos:tiktok-icon" />
          </a>
          <a href="https://twitter.com/domitriusclark"
            ><Icon name="logos:twitter" />
          </a>
        </div>
        <!-- <div class="flex flex-col gap-5 mt-5">
          {
            sortedPosts.map((post) => (
              <PostPreview postUrl={post.url} post={post} />
            ))
          }
        </div> -->
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  [astro-icon] {
    width: 30px;
    height: 30px;
  }
</style>
