---
import "@styles/reset.css";
import "@styles/global.css";
import "@styles/notion.css";

const { title } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
</head>
