---
const { postUrl, post } = Astro.props;

const [endpoint] = new URL(postUrl).pathname
  .split("/")
  .filter((str) => str.length > 0);
---

<a class="link" href={`/posts/${endpoint}`}>
  <div
    class="flex items-center justify-between p-7 border bg-zinc-800 border-zinc-600 rounded-lg shadow-sm shadow-fuchsia-300"
  >
    <h2 class="font-gothic title">{post.properties.title}</h2>
  </div>
</a>
