---
import BaseHead from "@components/BaseHead.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";

import "@fontsource/bowlby-one-sc";
import "@fontsource/didact-gothic";
import "@fontsource/tillana";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={title} />
  <body class="flex flex-col h-screen grow bg-zinc-900 text-slate-300">
    <!-- <Nav /> -->
    <slot />
  </body>
</html>
